#cropper {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 16px;
    background-color: white;
    padding: 24px 0 24px 0;
}

#image-container {
    height: 360px;
    width: 360px;
}

#image-container img {
    width: 360px;
    display: block;
}

#cropper-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
}

#cropper-buttons-container button {
    height: 32px;
    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    color: white;
    background-color: #28282b;
    border: none;
    border-radius: 20px;   
}

#cropper-buttons-container button:active {
    background-color: #38383B;
}