.single-page-form-container {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid #28282B;
    border-radius: 16px;
    background-color: white;
    margin: 20px 0 20px 0;
}

#login-form-header {
    display: inherit;
    flex-direction: inherit;
    margin: 64px 40px 64px 40px;
}

#login-form-header img{
    width: auto;
}

#signup-form-header {
    display: inherit;
    flex-direction: inherit;
    margin: 48px 40px 40px 40px;
}

#signup-form-header span{
    align-self: center;
    font-weight: bold;
    font-size: 32px;
}

#edit-profile-form-header {
    display: inherit;
    flex-direction: inherit;
    margin: 32px 40px 32px 40px;
}

.single-page-form {
    display: inherit;
    flex-direction: inherit;
    margin: 0 40px 0 40px;
    gap: 24px;
}

.single-page-form input, .single-page-form textarea, .single-page-form-footer input {
    height: 40px;
    width: auto;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    outline: none;
    border: none;
}

.single-page-form input, .single-page-form textarea {
    border-bottom: 2px solid#28282B ;
}

.single-page-form input:focus, .single-page-form textarea:focus {
    border-bottom: 2px solid #257AFD ;
}


.single-page-form label[for="display-pic-input"] {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    position: relative;
}

#change-password-btn{
    font-size: 12px;
    font-weight: 700;
    color: #257AFD;
}

#change-password-fields-container {
    display: inherit;
    flex-direction: inherit;
    gap: inherit;
}

#edit-display-pic-overlay {
    height: 104px;
    width: 104px;
    display: grid;
    place-items: center;
    position: absolute;
    border-radius: 50%;   
    flex-shrink: 0;
}

#edit-display-pic-overlay:hover {
    background-image: url(../assets/camera-icon-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px auto;
    background-color: rgba(58, 59, 60, 0.5);
}

.single-page-form textarea {
    resize: vertical;
}

.single-page-form-footer {   
    display: inherit;
    flex-direction: inherit;
    margin: 0 40px 40px 40px;
}

.single-page-form-footer input {
    height: 48px;
    border-radius: 24px;
    color:white;
    background-color: #28282B;
}

.single-page-form-footer input:active {
    background-color: #38383B;
}

.single-page-form-footer span {
    font-size: 14px;
    font-weight: 500;
    align-self: center;
    margin-top: 16px;
}

.single-page-form-footer a {
    all: unset;
    font-weight: 600;
    color:#257AFD;
}

.single-page-form-error {
    min-height: 24px;
    display: inherit;
    flex-direction: inherit;
    margin: 8px 40px 0px 40px;
    font-size: 12px;
    font-weight: 600;
    color: tomato;
}

#create-chat-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#create-chat-form {
    display: inherit;
    flex-direction: inherit;
    gap: 24px;
}

#create-chat-form label {
    font-size: 12px;
    font-weight: 700;
    color: #257AFD;
    margin-bottom: -24px;
}

#create-chat-form input[type="text"] {
    height: 40px;
    width: auto;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    outline: none;
    border: none;
    border-bottom: 2px solid #28282B;
}

#create-chat-form input[type="text"]:focus {
    border-bottom: 2px solid #257AFD;
}

#create-chat-form-footer {
    display: inherit;
    flex-direction: inherit;
}

#create-chat-form-footer button {
    height: 40px;
    width: auto;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #28282B;
}

#create-chat-form-footer button:active {
    background-color: #38383B;
}

#create-chat-form-error {
    min-height: 24px;
    display: inherit;
    flex-direction: inherit;
    font-size: 12px;
    font-weight: 600;
    color: tomato;
}