body {
    margin: 0;
    color: #28282B;
    font-family: 'IBM Plex Mono', monospace;
    overflow: hidden;
}

.round-btn {      
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 16px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.action-btn {  
    background-image: url(../assets/actions-icon.svg);
}

.round-btn:active {
    background-color: #f4f4f4;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    padding: 20px 0 20px 0;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    background-color: white;
    z-index: 2;
}

.dropdown button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;
    white-space: nowrap;
    padding: 8px 20px 8px 20px;
    border: none;
    background-color: white;
}

.dropdown button:active { 
    background-color: #f4f4f4;
}

.dropdown-bottom-left {   
    top: 40px;
    align-self: flex-end;
}

.btn-dropdown-container {
    height: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bdbdbd;
}

.centered-grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.overlay {
    top: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    z-index: 2;
    position: absolute;
    background-color: rgba(40, 40, 43, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
}

.display-pic-placeholder {
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #28282B;
    border-radius: 50%;   
    flex-shrink: 0;
}

.display-pic-placeholder-large {
    height: 104px;
    width: 104px;
    display: grid;
    place-items: center;
    color: white;
    font-size: 40px;
    font-weight: 600;
    background-color: #28282B;
    border-radius: 50%;  
    cursor: default; 
    flex-shrink: 0;
}

.display-pic-img-large {
    height: 104px;
    width: 104px;
    display: block;;
    border-radius: 50%;   
    flex-shrink: 0;
}

.display-pic-img-small {
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;  
    flex-shrink: 0;
}

.logout-icon {
    height: 16px;
    width: 16px;
    display: block;
    background-image: url(../assets/logout-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.edit-icon {
    height: 16px;
    width: 16px;
    display: block;
    background-image: url(../assets/edit-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-icon {
    height: 16px;
    width: 16px;
    display: block;
    background-image: url(../assets/profile-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.back-icon {
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(../assets/back-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.check-icon {
    height: 16px;
    width: 16px;
    display: block;
    background-image: url(../assets/check-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.chat-icon {
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(../assets/chat-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.send-icon {
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(../assets/send-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.delete-icon {
    height: 16px;
    width: 16px;
    display: block;
    background-image: url(../assets/delete-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}