.centered-grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login-signup-form-container {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid #28282B;
    border-radius: 16px;    
}

#login-form-header {
    display: inherit;
    flex-direction: inherit;
    margin: 64px 40px 64px 40px;
}

#login-form-header img{
    width: auto;
}

#signup-form-header {
    display: inherit;
    flex-direction: inherit;
    margin: 48px 40px 40px 40px;
}

#signup-form-header span{
    align-self: center;
    font-weight: bold;
    font-size: 32px;
}

#login-signup-form {
    display: inherit;
    flex-direction: inherit;
    margin: 0 40px 0 40px;
    gap: 24px;
}

#login-signup-form input, #login-signup-form-footer input {
    height: 40px;
    width: auto;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    outline: none;
    border: none;
}

#login-signup-form input {
    border-bottom: 2px solid#28282B ;
}

#login-signup-form input:focus {
    border-bottom: 2px solid #257AFD ;
}

#login-signup-form-footer {   
    display: inherit;
    flex-direction: inherit;
    margin: 20px 40px 40px 40px;
}

#login-signup-form-footer input {
    height: 48px;
    border-radius: 24px;
    color:white;
    background-color: #28282B;
}

#login-signup-form-footer input:active {
    background-color: #38383B;
}

#login-signup-form-footer span {
    font-size: 14px;
    font-weight: 500;
    align-self: center;
    margin-top: 16px;
}

#login-signup-form-footer a {
    all: unset;
    font-weight: 600;
    color:#257AFD;
}

.login-signup-form-error {
    height: 24px;
    display: inherit;
    flex-direction: inherit;
    margin: 8px 40px 0px 40px;
    font-size: 12px;
    font-weight: 600;
    color: tomato;
}