#main-grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    gap: 1px;
    grid-template-rows: 64px calc(100vh - 65px);
    grid-template-columns: 360px calc(100vw - 361px);
    grid-template-areas: "side-area-header chat-area-header" "side-area chat-area"; 
    background-color: #d3d3d3;
}

#main-grid > * {
    background-color: white;
}

#side-area-header {
    height: 100%;
    width: 100%;
    grid-area: side-area-header;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px 0 16px;
}

#create-chat-btn {
    margin-left: auto;
    margin-right: 8px;
}

#side-area-header #title {
    font-weight: 600;
    margin-left: 16px;
}

#side-area-header .display-pic-placeholder {
    cursor: default;
}

#chat-list-side-area {
    height: 100%;
    width: 100%;
    grid-area: side-area;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    box-sizing: border-box;
    padding: 16px 0 0 0;
    overflow-y: scroll;
}

.chat {
    height: 64px;
    width: calc(100% - 16px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
    border-radius: 0 40px 40px 0;
    background-color: white;
    padding: 0 16px 0 16px;
    cursor: pointer;
}

.chat:hover {
    background-color: #f4f4f4;
}

.chat-data {
    display: flex;
    flex-direction: column;
}

.chat-data span:nth-of-type(1) {
    font-weight: 600;
}

.chat-data span:nth-of-type(2) {
    color: #a6a6a6;
    font-size: 12px;
}

.chat-timestamp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    color: #656565;
    font-size: 12px;
    margin-left: auto;
}

#profile-side-area, #chat-participant-profile-side-area {
    height: 100%;
    width: 100%;
    grid-area: side-area;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
    padding: 80px 40px 0 40px;
    overflow-y: scroll;
}

#profile-information, #chat-participant-profile-information {
    display: flex;
    flex-direction: inherit;
    align-items: inherit;
}

#profile-information span:nth-of-type(1), #chat-participant-profile-information span:nth-of-type(1){
    font-size: 24px;
    font-weight: 700;
}

#profile-information span:nth-of-type(3), #chat-participant-profile-information span:nth-of-type(3){
    font-size: 14px;
    margin-top: 16px;
}

#create-chat-side-area, #edit-chat-side-area { 
    height: 100%;
    width: 100%;
    grid-area: side-area;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 40px 0 40px;
    overflow-y: scroll;
}

#chat-area-header{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    grid-area: chat-area-header;
}

#chat-area-header #title {
    font-weight: 600;
}

#chat-area-header #chat-window-actions-btn-dropdown-container {
    margin-left: auto;
}

#chat-area {
    height: 100%;
    width: 100%;
    grid-area: chat-area;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#message-bar {
    min-height: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 40px;
}

#message-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#message-form textarea {    
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 24px;
    outline: none;
    resize: none;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 16px;
    box-sizing: border-box;
    padding: 16px 24px;
}

#chats-closed-message {
    height: 100%;
    width: 100%;
    display: grid;
    font-weight: 600;
    font-size: 24px;
    place-items: center;
}

#message-log {
    height: calc(100vh - 144px);
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 24px;
    box-sizing: border-box;
    padding: 0 40px;
    overflow: scroll;
    
}

#message {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    font-size: 14px;
}

#message-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

#message-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#message-header #username {
    font-weight: 600;
}

#message #message-datetime {
    color: #a6a6a6;
    font-size: 12px;
}