#side-area-header{
    height: 100%;
    width: 100%;
    grid-area: side-area-header;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px 0 16px;
}

#profile-back-btn {
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 16px;
    background-color: white;
    background-image: url(../assets/back-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#profile-back-btn:active {
    background-color: #f4f4f4;
}

#chat-list-side-area {
    height: 100%;
    width: 100%;
    grid-area: side-area;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    box-sizing: border-box;
    padding: 16px 0 0 0;
    overflow-y: scroll;
}

.chat {
    height: 64px;
    width: calc(100% - 16px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
    border-radius: 0 40px 40px 0;
    padding: 0 16px 0 16px;
    cursor: pointer;
}

.chat:hover {
    background-color: #f4f4f4;
}

.chat-data {
    display: flex;
    flex-direction: column;
}

.chat-data span:nth-of-type(1) {
    font-weight: 600;
}

.chat-data span:nth-of-type(2) {
    color: #a6a6a6;
    font-size: 12px;
}

.chat-timestamp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    color: #656565;
    font-size: 12px;
    margin-left: auto;
}

#chat-area-header{
    height: 100%;
    width: 100%;
    grid-area: chat-area-header;
}

#chat-area {
    height: 100%;
    width: 100%;
    grid-area: chat-area;
}

#profile-side-area {
    height: 100%;
    width: 100%;
    grid-area: side-area;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
    padding: 80px 40px 0 40px;
    overflow-y: scroll;
}

#profile-information {
    display: flex;
    flex-direction: inherit;
    align-items: inherit;
}

#profile-information span:nth-of-type(1){
    font-size: 24px;
    font-weight: 700;
}

#profile-information span:nth-of-type(3){
    font-size: 14px;
    margin-top: 16px;
}

#profile-side-area button {
    height: 40px;
    width: 100%;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    background-color: #28282B;
    cursor: pointer;
}

#profile-side-area button:active {
    background-color: #38383B;
}