<div id="side-area-header">

    {% if user_data.display_pic %}
        <img class='display-pic-img-small' src='{{user_data.display_pic}}'>
    {% else %}
        <div class='display-pic-placeholder'><span>{{user_data.user_name.0 | upper}}</span></div>
    {% endif %}

    <button id="create-chat-btn" class="round-btn"><i class="chat-icon"></i></button>

    <div id='user-actions-btn-dropdown-container' class="btn-dropdown-container">

        <button id="user-actions-btn" class="round-btn action-btn"></button>

        <div class="dropdown dropdown-bottom-left hide">
            <button id="profile-btn"><i class="profile-icon"></i>Profile</button>
            <button id="edit-profile-btn"><i class="edit-icon"></i>Edit profile</button>
            <button id="logout-btn"><i class="logout-icon"></i>Log out</button>
        </div>

    </div>

</div>

<div id="chat-list-side-area">

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>
    
    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

    <div class="chat">
        
        <div class="display-pic-placeholder"><span>U</span></div>

        <div class="chat-data">

            <span>Username</span>
            <span>last message</span>

        </div>

        <div class="chat-timestamp">
            <span>00/00/0000</span>
            <span>00:00PM</span>
        </div>

    </div>

</div>