<div id="chat-area-header">
    
    {% for participant in chat.participants %}

        {% if participant.model_user.user_id != request.session.user_data.user_id %}

            <button id="chat-window-back-btn" class="round-btn"><i class="back-icon"></i></button>

            {% if chat.display_name %}

                <span id="title">{{chat.display_name}}</span>

            {% else %}

                <span id="title">{{participant.model_user.user_name}}</span>

            {% endif %}
        
            <div id='chat-window-actions-btn-dropdown-container' class="btn-dropdown-container">
        
                <button id="chat-window-actions-btn" class="round-btn action-btn"></button>
        
                <div class="dropdown dropdown-bottom-left hide">
                    <button id="chat-window-profile-btn" data-chat-id ="{{chat.chat_id}}"><i class="profile-icon"></i>Profile</button>
                    <button id="chat-window-edit-chat-btn" data-chat-id ="{{chat.chat_id}}"><i class="edit-icon"></i>Edit chat</button>
                    <button id="chat-window-delete-chat-btn" data-chat-id ="{{chat.chat_id}}"><i class="delete-icon"></i>Delete chat</button>
                </div>
        
            </div>
    
        {% endif %}

    {% endfor %}

</div>

<div id="chat-area">

    <div id="message-log">

        <div id="message">

            <div class="display-pic-placeholder"><span>{{participant.model_user.user_name.0 | upper}}</span></div>
            
            <div id="message-content">

                <div id="message-header">
    
                    <span id="username">Username</span>        
                    <span id="message-datetime">Nov 1, 00:00PM</span>

                </div>

                <span id="message-text">message text</span>

            </div>

        </div>

    </div>

    <div id="message-bar">

        <form id='message-form' method="POST">
            
            {% csrf_token %}
            {{ message_form }}

            <button class="round-btn" id="message-form-send-btn" data-chat-id="{{chat.chat_id}}"><i class="send-icon"></i></button>

        </form>

    </div>
</div>
