<div id="side-area-header">

    <button id="create-chat-back-btn" class="round-btn"><i class="back-icon"></i></button>

</div>

<div id="create-chat-side-area">

    <form id="create-chat-form" method="POST">
        
        {% csrf_token %}
        {{ create_user_form }}

        <div id="create-chat-form-error">
            
            {% if messages %}
                {% for message in messages %}
                    <span>{{ message }}</span>
                {% endfor %}
            {% endif %}
            
        </div>

        <input type="submit" value="Start chat">

    </form>

</div>