{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="centered-grid">

    <div class="single-page-form-container">

        <div id="login-form-header">

            <img src="{% static 'assets/wired-logo.svg' %}">

        </div>

        <form id="login-form" class="single-page-form" method="POST">
    
            {% csrf_token %}
            {{ edit_profile_form }}
        
        </form>

        <div class="single-page-form-error">

            {% if messages %}
                {% for message in messages %}
                    <span>{{ message }}</span>
                {% endfor %}
            {% endif %}
            
        </div>

        <div class="single-page-form-footer">

            <input type="submit" value="Login" form="login-form">
            <span>Don't have an account <a href="{% url 'sign-up' %}">sign-up</a>.</span>

        </div>
    
    </div>

</div>

{% endblock %}