{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="centered-grid">

    <div class="single-page-form-container">

        <div id="edit-profile-form-header">

            <button id="edit-profile-back-btn" class="round-btn"><i class="back-icon"></i></button>
          
        </div>

        <form id="edit-profile-form" class="single-page-form" enctype="multipart/form-data" method="POST">
    
            {% csrf_token %}

            <label for="display-pic-input">

                <div id="edit-display-pic-overlay"></div>

                {% if user_data.display_pic %}
                    <img id="display-pic-edit-profile" class="display-pic-img-large" src="{{user_data.display_pic}}"></img>
                {% else %}
                    <div id="display-pic-placeholder-edit-profile" class="display-pic-placeholder-large"><span>{{user_data.user_name.0 | upper}}</span></div>
                {% endif %}

            </label>

            {{ edit_profile_form }}

            <div id="change-password-btn">Change password</div>

            <div id="change-password-fields-container" class="hide">
                
                {{ change_password_form }}

            </div>
        
        </form>

        <div class="single-page-form-error">

            {% if messages %}
                {% for message in messages %}
                    <span>{{ message }}</span>
                {% endfor %}
            {% endif %}
            
        </div>

        <div class="single-page-form-footer">

            <input type="submit" value="Save Changes" form="edit-profile-form">

        </div>
    
    </div>

</div>

<div id="display-pic-crop-overlay" class="overlay hide">

    <div id="cropper">
        
        <div id="image-container">

            <img id="image-preview" src="">

        </div>

        <div id="cropper-buttons-container">

            <button id="cropped-image-cancel-btn">Cancel</button>
            <button id="cropped-image-save-btn">Save</button>            
            
        </div>

    </div>

</div>

{% endblock %}