{% extends 'base.html' %}

{% block content %}

<div id="main-grid">

    
    <div id="side-area-header">

        <div class='display-pic-placeholder'><span>A</span></div>

    </div>

    <div id="side-area">

        <div class="chat">
            
            <div class="display-pic-placeholder"><span>U</span></div>

            <div class="chat-data">

                <span>Username</span>
                <span>last message</span>

            </div>

            <div class="chat-timestamp">
                <span>00/00/0000</span>
                <span>00:00PM</span>
            </div>

        </div>

        <div class="chat">
            
            <div class="display-pic-placeholder"><span>U</span></div>

            <div class="chat-data">

                <span>Username</span>
                <span>last message</span>

            </div>

            <div class="chat-timestamp">
                <span>00/00/0000</span>
                <span>00:00PM</span>
            </div>

        </div>
        
        <div class="chat">
            
            <div class="display-pic-placeholder"><span>U</span></div>

            <div class="chat-data">

                <span>Username</span>
                <span>last message</span>

            </div>

            <div class="chat-timestamp">
                <span>00/00/0000</span>
                <span>00:00PM</span>
            </div>

        </div>

        <div class="chat">
            
            <div class="display-pic-placeholder"><span>U</span></div>

            <div class="chat-data">

                <span>Username</span>
                <span>last message</span>

            </div>

            <div class="chat-timestamp">
                <span>00/00/0000</span>
                <span>00:00PM</span>
            </div>

        </div>

    </div>

    <div id="chat-area-header">

    </div>

    <div id="chat-area">

    </div>

</div>

{% endblock %}