<div id="side-area-header">

    <button id="profile-back-btn" class="round-btn"><i class="back-icon"></i></button>
    
    <span id="title">Profile</span>

</div>

<div id="profile-side-area">
    
    {% if user_data.display_pic %}
        <img class="display-pic-img-large" src="{{user_data.display_pic}}"></img>
    {% else %}
        <div class="display-pic-placeholder-large"><span>{{user_data.user_name.0 | upper}}</span></div>
    {% endif %}

    <div id="profile-information">

        <span>{{user_data.user_name}}</span>

        <span>{{user_data.email_address}}</span>

        {% if user_data.bio %}
            <span>{{user_data.bio}}</span>
        {% else %}
            <span>No bio</span>
        {% endif %}
        
    </div>

</div>