<div id="side-area-header">

    <button id="profile-back-btn" class="round-btn"><i class="back-icon"></i></button>

</div>

<div id="profile-side-area">

    <div class="display-pic-placeholder-large"><span>{{user_data.user_name.0 | upper}}</span></div>

    <div id="profile-information">

        <span>{{user_data.user_name}}</span>

        <span>{{user_data.email_address}}</span>

        {% if user_data.bio %}
            <span>{{user_data.bio}}</span>
        {% else %}
            <span>No bio</span>
        {% endif %}
        
    </div>

</div>