{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="centered-grid">

    <div class="login-signup-form-container">

        <div id="signup-form-header">
            <span>SIGN-UP</span>
        </div>

        <form id="login-signup-form" method="POST">
    
            {% csrf_token %}
            {{ signup_form }}
        
        </form>

        <div class="login-signup-form-error">

            {% if messages %}
                {% for message in messages %}
                    <span>{{ message }}</span>
                {% endfor %}
            {% endif %}
            
        </div>

        <div id="login-signup-form-footer">

            <input type="submit" value="Submit" form="login-signup-form">
            <span>Already have an account <a href="{% url 'login' %}">login</a>.</span>

        </div>
    
    </div>

</div>

{% endblock %}